.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}


.entry .entry-content a{
    text-decoration:none;
    font-family: 'Montserrat';
    color:black;
}

img:hover{
    opacity: 0.5;
}